* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{

  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{

  width: 70%;
  border: 1px solid red;
  margin: 0 auto;
  padding: 20px;

}


input{

  font-size: 2rem;
  border: none;
}

input:focus{

  outline: none;
}


.form-outter{

border: 1px solid rgb(196, 196, 196);
border-radius: 20px;
padding: 5px;
display: flex;
align-items: center;

}


.searchIcon{

  margin:10px;
  color:rgb(196, 196, 196);
} 


.button-group{


  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
 
}

.btn{

  margin: 0 10px ;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color:rgb(93, 93, 93);


}


.container{

  display: flex;
  width:100%;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
.left{

  display: flex;
  align-items: center;
 
}

.left p {

  margin-right: 10px;
}


.right{

  display: flex;
}

.right p {

  margin-right: 10px;
}

/* footer */

.footer{
position: relative;
bottom: 0%;
width: 100%;
  text-align: center;
}

footer{

  
  position: absolute;
  width: 100%;
  bottom: 2%;
}

.footer p{

  position: absolute;
  width: 100%;
  bottom: 0%;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(196, 196, 196);
  }
}
