@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&family=Inter:wght@200;400;700&family=Oswald:wght@300&family=Padauk&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-family: 'Aboreto', cursive;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Inter', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Padauk', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.main{

  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{

  width: 50%;
margin-left: 150px ;
  padding: 20px;
  cursor: pointer;

  
}

.card h3{

  color: rgb(4, 4, 209);
  font-size: 1.5rem;
  padding: 10px 0;

}



.card a{

  color: rgb(19, 19, 19)!important;
}

.card a, .snippet{

  color: rgb(118, 117, 117);
  text-decoration: none;
}


.input1{

  font-size: 2rem;
  border: none;
 
}

.input1:focus{

  outline: none;
}


.form-outter{

border: 1px solid rgb(196, 196, 196);
border-radius: 30px;
padding: 8px;
display: flex;
align-items: center;
box-shadow: 5px 5px 5px lightgray;
flex: 2;


}


.searchIcon{

  margin:10px;
 color:rgb(196, 196, 196);
 

} 

.mag{

  color: red;
}


.button-group{


  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
 
}

.btn{

  margin: 0 10px ;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color:rgb(93, 93, 93);


}


.container{

  display: flex;
  width:100%;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
.left{

  display: flex;
  align-items: center;
 
}

.left p {

  margin-right: 10px;
}


.right{

  display: flex;
  align-items: center;
}

.right p {

  margin-right: 10px;
}

/* footer */

.footer{
position: relative;
bottom: 0%;
width: 100%;
  text-align: center;
}

footer{

  
  position: absolute;
  width: 100%;
  bottom: 2%;
}

.footer p{

  position: absolute;
  width: 100%;
  bottom: 0%;
}


.header2{

  display: flex;
  align-items: center;

  flex-direction: row;
  width: 100%;
  margin: 20px auto;
  position:sticky;
  top: 0;
  background-color: white;
}

.letter{

  color: white;
  background-color: darkblue;
  border-radius: 100%;
  width: 100%;
  padding: 8px  12px;
  margin: 0 10px;
}


.form2{
display: flex;
flex: 2;
  border: 0.5px solid lightgrey;
  padding: 10px;
  border-radius: 30px;
  margin-left: 30px ;
  width: 600px;
  box-shadow: 5px 5px 5px lightgray;
}

.input2{

  width: 100%;
  border: none;
  font-size: 1.3rem;
 
}


.input2:focus{

  outline: none;
}

.micro{

  display: flex;
  align-items: center;
  margin: 0 20px;
 
}

.delete{

  margin-right: 10px;
  color: lightgray;
  border-right: 1.5px solid lightgrey;
  padding-right: 5px ;
}

.match{

  margin-right: 10px;
  color: blue;
}

.far-right{

  margin-left: auto;
  padding-right: 30px;
}

.options{

  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 0.5px solid rgb(215, 215, 215);
  padding: 10px 0;
  margin-left: 150px;
}

.options p{

  color:rgb(137, 137, 137);

  margin-right: 30px;
}

.ico{

  margin-right: 3px;
}





@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(196, 196, 196);
  }
}
